.bg {
  background-color: #2d3142e0;
  color: #373e40;
  border-radius: 4px;
  border: 2px solid #77878b;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.bg:hover {
  background-color: #da7635;
  border: 2px solid #305252;
}

.bg:hover .container {
  border-color: #4f5d75bb;
}

h1 {
  text-align: center;
}

p.lead {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

img {
  max-width: 300px;
  border: 2px solid #da7635;
}

/*da7635  de9465  DC854D*/