<!-- Introduction -->
<section class="bg py-5 mt-2 ">
    <div class="container d-flex flex-column flex-lg-row align-items-center">
        <div class="text-center text-lg-start me-lg-5 mb-4 mb-lg-0">
            <img src="#" class="rounded-circle img-fluid" alt="Professional headshot of Kyle Stranick"
                style="max-width:200px;" />
        </div>
        <div>
            <!-- Page's main H1 for SEO -->
            <h1 class="display-5 fw-bold">Aspiring Software Developer</h1>
            <p class="lead">
                Welcome to my portfolio! I bring a unique blend of technical expertise
                and collaborative spirit to every project. Explore below to learn more
                about my background, skills, and recent work.
            </p>
            <button class="btn me-2" (click)="toggleContent()">Learn More About Me</button>
        </div>
    </div>
</section>