.footer {
  background-color: #2d3142e0;
  padding: 20px;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
}

p {
  color: #2D3142;
  margin-bottom: 10px;
}

.container {
  margin-bottom: 0;
}

.container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}