.cover-letter-container {
  background-color: #E9EBEE;
  /* anti-flash white */
  color: #373e40;
  border: 2px solid #77878b;
  padding: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}