<!-- ABOUT ME SECTION -->
<section id="about-me" class="py-5">
    <div class="container">
        <h2 class="mb-4">About Me</h2>
        <p>
            I am a soon-to-be graduate with a concentration in Software
            Development. My previous experience in the culinary field has sharpened my problem-solving skills, team
            collaboration,
            and attention to detail. Now, I'm excited to transition fully into the tech
            industry, contributing to innovative solutions that improve user experiences
            and drive business value.
        </p>
        <p>
            Currently based in Millsboro, Delaware, I’m open to both local and remote
            opportunities. I thrive in dynamic environments where I can apply my
            passion for continuous learning and improvement.
        </p>
    </div>
</section>