.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar {
  background: rgba(0, 0, 0, 0.705);
  backdrop-filter: blur(10px);
  transition: background 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: rgb(244, 253, 175);
}

.navbar-nav .nav-link {
  color: rgb(239, 221, 141);
  font-weight: 600;
  padding: 10px 15px;
  transition: color 0.3s, transform 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #f4fdaf;
  transform: scale(1.1);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 221, 141, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.sticky-top {
  top: 0;
  z-index: 1000;
}
