<!-- AWARDS SECTION -->
<section id="awards">
    <div class="awards-container">
        <h2 class="mb-4">Awards</h2>
        <p>Below are additional highlights, such as awards, certifications, or group projects.</p>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Awards:</strong>
                <br>
                <strong> Academic Recognition</strong> [ Spring 2023, Spring 2024, Fall 2024 ]: Earning a GPA of 3.25 or
                higher for the semester as a part-time student.
                <br>
                <strong> President's List</strong> [ Fall 2023 ]: Earning GPA 3.8 or Higher for the semester as a
                full-time student.
            </li>
            <li class="list-group-item">
                <strong>Group Project Presentation:</strong> Team Lead for mock group 'Ctrl Alt Elite'<br>
                Tasked with updating Summerfield Academy's current system implementation to match current and future
                growth.
            </li>
            <li class="list-group-item">
                <strong>Certifications:</strong>
            </li>
        </ul>
    </div>
</section>