<!-- AWARDS SECTION -->
 <!-- TODO: add the documents-->
<section id="awards">
    <div class="awards-container">
        <h2 class="mb-4">Awards</h2>
        <p>Below are additional highlights, such as awards, certifications, or group projects.</p>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Awards:</strong> Academic Recodnition
                <span class="text-muted">Spring 2023, Spring 2024, Fall 2024 - Earning a GPA of 3.25 or higher for the semester as a part-time student.</span>
                <strong>Awards:</strong> President's List
                <span class="text-muted">(Date, short explanation)Fall 2023 - Earning GPA 3.8 or Higher for the semester as a full-time student.</span>
            </li>
            <li class="list-group-item">
                <strong>Group Project Presentation:</strong> Team Lead for mock group Crtl Alt Elite for updating the current system of Summerfield Academy.
                The project was met with success and we achieve high marks.
            </li>
            <li class="list-group-item">
                <strong>Certifications:</strong> 
            </li>
        </ul>
    </div>
</section>