.awards-container {
  color: #373e40;
  border: 2px solid #77878b;
  padding: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #d8d4d5;
}

.awards-container h2 {
  margin-bottom: 15px;
}

.awards-container .list-group-item {
  background-color: #E4E6EA;
  /* anti-flash white */
  border: 1px solid #77878b;
  font-size: larger;
}