<!-- CONTACT SECTION -->
<section id="contact" class="py-5">
    <div class="container">
        <h2 class="mb-4">Contact</h2>
        <p>
            Thank you for exploring my portfolio! I’d love to discuss how we can work
            together. Feel free to reach out:
        </p>
        <ul class="list-unstyled">
            <li><strong>Location:</strong> Millsboro, Delaware</li>
            <li>
                <strong>Email:</strong>
                <a href="mailto:kstranic@dtcc.edu" class="text-decoration-underline">
                    kstranic&#64;dtcc&#46;edu
                </a>
            </li>
        </ul>
        <div class="mt-3">
            <a href="https://www.linkedin.com/in/stranickkyle" target="_blank" class="btn btn-secondary me-2"
                rel="noreferrer">LinkedIn</a>
            <a href="https://github.com/k-stranick" target="_blank" class="btn btn-secondary"
                rel="noreferrer">GitHub</a>
        </div>
    </div>
</section>