<!-- COURSE ARTIFACTS SECTION -->
<section id="projects">
    <div class="course-artifacts-container">
        <h2 class="mb-4">Coding Projects</h2>

        <!-- Language Filter Dropdown -->
        <div class="mb-3">
            <label for="language" class="fw-semibold me-2">Filter by Language:</label>
            <select id="language" class="form-select w-auto d-inline-block" (change)="onLanguageChange($event)">
                <option value="" selected>Select a language</option>
                <option value="all">All Projects</option>
                <option *ngFor="let language of programmingLanguages()" [value]="language">
                    {{ language }}
                </option>
            </select>
        </div>
        <div>
            <button class="btn" (click)="clearFilter()">Clear</button>
        </div>

        <!-- COURSE ARTIFACTS CARDS -->
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            <ng-container *ngFor="let repo of repos()">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ repo.name }}</h5>
                            <p class="card-text">
                                {{ repo.description }}
                            <p class="card-text">
                                {{ repo.stargazers_count }} stars - {{ repo.language || 'Unknown' }}
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a [href]="repo.html_url" target="_blank" class="btn">View Project</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>