.course-artifacts-container {
  padding: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease;
  border: 2px solid #77878b;
}


.course-artifacts-container p {
  color: #373e40;
  /* Dark text for paragraphs */
  margin-bottom: 10px;
}

.course-artifacts-container a:hover {
  text-decoration: none;
}

.form-select {
  border: 1px solid #77878b;
  font-size: 1.2rem;
  color: #2D3142;
}

/* Card Styles */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-body {
  padding: 20px;
  background-color: #E9EBEE;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card-footer {
  background-color: #A7AEBA;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.card .btn {
  box-shadow: none;
}