/* You can add global styles to this file, and also import other style files */
/*create css variables for colors*/
html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #4f5d75bb;
  /* background-color: #A7AEBA; */
  /* background-color: #E9EBEE; */

}


/* all info related to me is housed inside this*/
#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;

}

.container {
  background-color: #d8d4d5;
  border: 2px solid #da7635;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

h2 {
  color: #2D3142;
  /* gunmetal for ALL h2 elements */
  margin-bottom: 15px;
}

/* Remember this will override ALL <p> */
p {
  color: #373e40;
  margin-bottom: 10px;
}

a {
  color: #692a00;
  text-decoration: none;
  transition: color 0.1s ease;

}

a:hover {
  color: #4F5D75;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #77878b;
  border-radius: 4px;
  padding: 10px;
}

.btn {
  background-color: #2d3142;
  color: #ffffff;
  border: 1px solid #373e40;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #4f5d75;
  color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.btn:active {
  transform: scale(0.95);
}